body {
  height: 100vh;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
*   Style la mise en place des éléments
*/
#messagerie {
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
}

/*
*   Style pour le menu de navigation des correspondants
*/
#conversations {
  padding: 0;
  background-color: green;
}

#correspondants {
  background-color: cyan;
}

.onglet {
  background-color: orange;
  margin: 10px;
  padding: 10px;
}

.onglet:hover {
  background-color: rgb(162, 105, 0);
  cursor: pointer;
}

#selectionne {
  background-color: rgb(255, 0, 195);
}

/*
*   Style pour la conversation en focus
*/
#focusConversation {
  background-color: blue;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr 1fr;
}

/*Au chargement, on a pas de conversation à afficher*/
#historiqueMessages,
#nouveauMessageForm {
  display: none;
}

#historiqueMessages {
  overflow-y: auto;
  max-height: 80vh;
  padding: 0 20px;
}

.moi,
.autre {
  width: 80%;
  display: flex;
  align-items: center;
}

.moi {
  /*On affiche les messages de l'utilisateur à droite*/
  flex-direction: row-reverse;
  float: right;
}

.autre {
  /*On affiche les messages du destinataires à gauche*/
  float: left;
  border-radius: 15px 15px 15px 0;
}

/*Disposition des éléments dans le message*/
.corps {
  max-width: 70%;
  padding: 10px;
  margin: 10px;
}

.moi .corps {
  background-color: yellow;
  border-radius: 15px 15px 0;
}

.autre .corps {
  background-color: aqua;
  border-radius: 15px 15px 15px 0;
}

.moi :hover + .horodatage,
.autre :hover + .horodatage {
  display: block;
}

.horodatage {
  color: grey;
  white-space: nowrap;
  display: none;
}

/*Input de saisie d'un nouveau message*/
#nouveauMessageForm {
  align-items: center;
}

#message {
  width: 80%;
  margin: 10px;
  padding: 10px;
}

#boutonEnvoi {
  background: red;
  width: 5em;
  border: none;
  border-radius: 10px;
  padding: 0;
}

#boutonEnvoi:hover {
  background: green;
}
