#grey, h2{
	background-color: #afae9d;
}
h1{
	font-size:250%;
	text-align:center;
}
h2{
	width:70%;
	text-align:center;
	margin-left:20%;
}
body{
	background-color:#c5c5c5;
	height:100%;
	width:100%;
}
a{
	color:black;
}
a:hover{
	color:red;
	text-decoration:none
}
#form2{
	background-color:#949896;
	border:2px solid black;
	border-radius: 4px;
}
label {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin:6px;
}
input[type=text]{
  width: 250px;
}
input[type=number]{
  width: 250px;
}
input[type=submit]{
}
input[type=submit]:hover{
	background-color:red;
	color:white;
}
input[type=checkbox] {
  width: 10px;
  margin-left:6px;
}
textarea{
	margin-left:6px;
}
#boutonSubmit{
	width: 400px;
	height:50px;
	margin-left:15%;
	border-radius:10px;
}
header{
	position:absolute;
	top:0px;
	height:10%;
	width:100%;
	background-color:#4c5b61;
}
footer{
	height:10%;
	position:fixed;
	bottom:0%;
	background-color:#4c5b61;
	width:100%;
}
.tout{
	position:absolute;
	top:15%;
	width:100%;
	height:100%;
}
.row{
	margin-left:5px;
}
.fleches{
	height:50px;
	width:50px;
}
#flecheG{
	margin-left:300px;
}
#galerieImage{
	height:500px;
	width:720px;
}

