/*
* Variables globales pour uniformiser le site
*/
:root {
  /*Couleurs*/
  --rouge-fonce: #a4243b;
  --gris-bleu:#829191;
  --beige-fonce: #b6aa84;
  --orange-clair: #eeab4c;
  --orange: #d8973c;
  --marron: #bd632f;
  --noir: #273e47;
  --vert-sapin: #2c423F;
  --gris-pale: #c5c5c5;
  

  /*Arrondi*/
  --arrondi-normal: 0.4em;

  /*Padding et margin*/
}

/*Style par défaut*/
html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--gris-bleu);
}

textarea,
input,
html,
button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

/*Supprime la mise en page des listes*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea {
  border: none;
  border-radius: var(--arrondi-normal);
  padding: 0.4em;
}

.rond {
  border-radius: 100%;
}
