input::placeholder {
	color: #434544;
}

#thumbnail {
	width: 80%;
}

.recherche {
	width: 80%;
	background-color: #c5c5c5;
	margin-right: 5em;
	margin-top: 1em;
}

#rechercheDiv, #rechercheAvanceeDiv {
	margin-bottom: 3em;
	margin-top: 3em;
}

.boutonRecherche {
	background-color: #c5c5c5;
	border-radius: var(- -arrondi-normal);
	margin-top: 1em;
}

#titre {
	margin-bottom: 1em;
	font-weight: bold;
	font-size: large;
}

#openButton {
	background: #c5c5c5;
	border: 1px black solid;
}

#formRedirectionMessage {
	width: 3em;
}

.icones {
	width: 2em;
}

.row {
	margin-bottom: 2em;
}

.annonce {
	padding: 0.5em;
	border: #c5c5c5 solid;
	border-radius: var(- -arrondi-normal);
}

.listeCS {
	list-style: disc inside;
}

.titreCat {
	font-weight: bold;
}

.rechercheAvancee {
	display: none;
}

.nonModale {
	cursor: pointer;
}

#formPostuler {
	background-image: linear-gradient(to right, #136a8a 0%, #267871 51%, #136a8a 100%);
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
	font-size: 1.2 em;
}

#formPostuler:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}

body.modal-open .nonModale, body.modal-open #rechercheDiv {
	-webkit-filter: blur(0.3em);
	-moz-filter: blur(0.3em);
	-o-filter: blur(0.3em);
	-ms-filter: blur(0.3em);
	filter: blur(0.3em);
}