@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .imageDiv {
    height: 35vw !important;
  }
  .display-flex-center {
    display: block !important;
  }
  #rechercheDiv {
    margin-left: 2em;
  }

  #carouselSlides {
    margin-bottom: 8vw;
  }
}

input::placeholder {
  color: #434544;
}

#thumbnail {
  width: 80%;
}

img.resize {
  width: 80%;
  height: auto;
}

.recherche {
  width: 80%;
  background-color: #c5c5c5;
  margin-right: 5em;
  margin-top: 1em;
}

#rechercheDiv,
#rechercheAvanceeDiv {
  margin-bottom: 3em;
  margin-top: 3em;
}

.boutonRecherche {
  border-radius: var(--arrondi-normal);
  background-image: linear-gradient(
    to right,
    var(--noir) 0%,
    #704a58 51%,
    var(--noir) 100%
  );
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 0.3em #eee;
  display: block;
  margin-top: 1em;
}
.boutonRecherche:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#titre {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: large;
}

#openButton {
  border-radius: var(--arrondi-normal);
  background-image: linear-gradient(
    to right,
    var(--noir) 0%,
    #704a58 51%,
    var(--noir) 100%
  );
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 0.3em #eee;
  display: block;
}

#openButton:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#formRedirectionMessage {
  width: 3em;
}

.icones {
  width: 2em;
}

.row {
  margin-bottom: 2em;
}

.annonce {
  padding: 3em 0.5em;
  border: #c5c5c5 solid;
  border-radius: 1em;
  margin: 2em;
  color: var(--white);
}

.listeCS {
  list-style: disc inside;
}

.titreCat {
  font-weight: bold;
}

.rechercheAvancee {
	display: none;
	color:var(--white);
}

.nonModale {
  cursor: pointer;
}

.boutonContact {
	margin: 10px;
	padding: 15px 45px;
	box-shadow: 0 0 20px #eee;
	font-size: 1.2 em;
	border-radius: var(--arrondi-normal);
	background-image: linear-gradient(to right, var(--noir)  0%,  #704a58 51%, var(--noir)  100%);
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            display: block;
}

.display-flex-center {
  display: flex;
  align-items: center;
}
.boutonContact:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}

.imageDiv {
  height: 20vw;
  width: auto;
}

body.modal-open .nonModale,
body.modal-open #rechercheDiv {
  -webkit-filter: blur(0.3em);
  -moz-filter: blur(0.3em);
  -o-filter: blur(0.3em);
  -ms-filter: blur(0.3em);
  filter: blur(0.3em);
}
