/*
* Variables globales pour uniformiser le site
*/
:root {
  /*Couleurs*/
  --rouge-fonce: #a4243b;
  --gris-bleu: #829191;
  --bg-ppal: #704a58;
  --beige-fonce: #b6aa84;
  --orange-clair: #eeab4c;
  --orange: #d8973c;
  --marron: #bd632f;
  --noir: #273e47;
  --vert-sapin: #2c423f;
  --gris-pale: #c5c5c5;
  --gris: #a6a6a6;
  --gris-vert: #4c5b61;
  --bg_conv: #b56d82;
  --noir: #333333;
  --white: #fffaf0;
  /*Arrondi*/
  --arrondi-normal: 0.4em;

  /*Padding et margin*/

  --header-height: 70px;
}

/*Style par défaut*/
html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--bg-ppal);
}

body {
  padding-top: var(--header-height);
  /* height: calc(100vh - var(--header-height)); */
  display: grid;
  grid-template-rows: 1fr 2em;
}

textarea,
input,
html,
button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

/*Supprime la mise en page des listes*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea {
  border: none;
  border-radius: var(--arrondi-normal);
  padding: 0.4em;
}

.rond {
  border-radius: 100%;
}

.error {
  color: var(--rouge-fonce);
}

.clickable:hover {
  cursor: pointer;
  opacity: 50%;
}

.smallIcon {
  width: 30px;
}

.mediumIcon {
  width: 60px;
}

.orange {
  background-color: var(--orange);
}

.red {
  background-color: var(--rouge-fonce);
}

.green {
  background-color: green;
}

.textePagesStatiques {
  color: floralwhite;
}

/* HEADER et FOOTER */
/* Partie Header */
header {
  width: 100%;
  background-color: var(--noir);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.Menu > * {
  margin: 10px;
}

.Htitle {
  text-align: center;
  color: white;
  margin: 0;
  margin-left: 20px;
}

.navbar {
  background: var(--noir);
  border: none;
}

.navbar-brand {
  font-size: 2em;
  text-align: center;
  color: white !important;
  margin: 0;
  margin-left: 20px;
}

.headerOptions {
  color: var(--white);
}

/* Fin Header */

/* Partie Footer */

.Fin {
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.MenuP2 {
  font-weight: bold;
  font-size: 100%;
  color: var(--white);
  text-decoration: none;
}

/* Fin Footer */
