/*
*   Style la mise en place des éléments
*/
#messagerie {
  background-color: var(--gris-bleu);
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/*
*   Style pour le menu de navigation des correspondants
*/

/*Barre de menu*/
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu > * {
  margin: 10px;
  text-align: center;
}

/*Animation des divers boutons*/
#nouvelleConversation:hover,
#boutonEnvoi:hover,
#retourMenu:hover,
.onglet:hover {
  cursor: pointer;
  opacity: 50%;
}

#conversations {
  padding: 0;
  background-color: var(--bg_conv);
  display: flex;
  flex-direction: column;
}

#correspondants {
  overflow-y: auto;
}

.onglet {
  display: flex;
  align-items: center;
  background-color: var(--gris-bleu);
  margin: 10px;
  padding: 10px;
  border-radius: var(--arrondi-normal);
}

.onglet > img {
  margin-right: 20px;
}

#selectionne {
  background-color: var(--gris);
  opacity: 100%;
}

/*
*   Style pour la conversation en focus
*/
#focusConversation {
  display: grid;
  grid-template-rows: 5em 8fr 1fr;
}

#titreConversation {
  margin: 0 10px;
}

#menuConversation {
  display: flex;
  align-items: center;
}

#menuConversation > img {
  margin-left: 10px;
}

/*Au chargement, on a pas de conversation à afficher, pas besoin d'afficher la fléche de retour non plus*/
#historiqueMessages,
#nouveauMessageForm,
#retourMenu {
  display: none;
}

#historiqueMessages {
  overflow-y: auto;
  padding: 0 20px;
  background-color: var(--gris-bleu);
}

.moi,
.autre {
  width: 80%;
  display: flex;
  align-items: center;
}

.moi {
  /*On affiche les messages de l'utilisateur à droite*/
  flex-direction: row-reverse;
  float: right;
}

.autre {
  /*On affiche les messages du destinataires à gauche*/
  float: left;
}

/*Disposition des éléments dans le message*/
.corps {
  max-width: 70%;
  padding: 10px;
  margin: 10px;
}

/*Style des messages envoyés*/
.moi .corps {
  background-color: var(--gris);
  border-radius: 15px 15px 0;
}

/*Style des messages reçus*/
.autre .corps {
  background-color: var(--gris-pale);
  border-radius: 15px 15px 15px 0;
}

.moi :hover + .horodatage,
.autre :hover + .horodatage {
  display: inline;
}

.horodatage {
  color: #b0b0b0;
  white-space: nowrap;
  display: none;
  font-size: x-small;
}

/*Input de saisie d'un nouveau message*/
#nouveauMessageForm {
  flex-direction: column;
}

#nouveauMessage {
  width: 100%;
  display: flex;
  align-items: center;
}

#nouveauMessageInput {
  padding: 10px;
  margin: 10px;
  width: 100%;
}

#boutonEnvoi {
  margin: 10px;
  width: 4em;
  border: none;
  padding: 0;
}
