#profil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar {
  margin: 20px;
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* #selectionne {
  border-bottom: 2px solid var(--rouge-fonce);
} */

#selectionne::after {
  content: "";
  display: block;
  border-bottom: 2px solid var(--rouge-fonce);
  animation: etend 0.2s;
}
@keyframes etend {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.options {
  font-weight: bold;
  background: none;
  border: none;
  margin: 0 10px;
}

.options:not([id="selectionne"]):hover {
  cursor: pointer;
  opacity: 50%;
}
.options:focus {
  outline: none;
}

#affichage {
  width: 80%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*Le bouton pour ajouter une annonce*/
#ajouteAnnonce img:hover {
  opacity: 50%;
}
#ajouteAnnonce {
  align-self: end;
  margin: 0 20px;
}

/*Pour l'affichage des annonces/réservations*/
#liste {
  width: 100%;
}

.annonces,
.reservations {
  margin: 10px 0;
  padding: 10px;
  border-radius: var(--arrondi-normal);
  background-color: var(--gris);
}

.annonces:hover {
  cursor: pointer;
}

.listUserApplying td {
  width: 20%;
}

/*Pour l'affichage des paramètres*/
#informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#informations img {
  width: 200px;
  border-radius: var(--arrondi-normal);
}

#modificationInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

#modificationInfo input {
  margin: 10px;
}
