h1 {
	font-size: 250%;
	text-align: center;
}

h2 {
	background-color: var(- -gris-pale);
	text-align: center;
}


a {
	color: black;
}

a:hover {
	color: red;
	text-decoration: none
}

/*#form2 {
	background-color: var(- -gris-pale);
	border: 2px solid var(- -gris);
	border-radius: var(- -arrondi-normal);
	padding: 0.6em;
}*/

#boutonSubmit{
	background-color: #c5c5c5;
	border-radius: var(- -arrondi-normal);
	margin-top: 1em;
}
/*label {
	width: 5em;
	display: inline-block;
	vertical-align: top;
	margin: 6px;
}*/

#specificationsUpload {
	border: var(--gris-pale) 1px solid;
	border-radius: var(--arrondi-normal);
	padding: 1.5em;
	margin-bottom: 1em;
	background: var(--gris-pale);
	color: var(--bg_conv);
	font-size: large;
	font-weight: bold;
}

#uploadImages{
	margin-bottom: 1.5em;
}

#formAjout > input, #formAjout > textarea{
	border-radius: var(--arrondi-normal);
    padding: 0.4em;
    background: var(--gris-bleu);
    border: var(--gris-pale) 0.2em solid;
}

#formAjout{
	padding: 2em 0.5em;
	border: var(--gris-pale) solid;
	border-radius: var(--arrondi-normal);
	
}
input[type=submit]:hover {
	background-color: red;
	color: white;
}

textarea {
	margin-left: 6px;
}

#boutonSubmit {
	border-radius: var(- -arrondi-normal);
}


.tout {
	width: 100%;
}

.row {
	margin-left: 5px;
}

.fleches {
	height: 50px;
	width: 50px;
}

#flecheG {
	margin-left: 7em;
}

#galerieImage {
	width: 80%;
}

.descriptionAnnonce {
	width: 100%;
	height: 100%;
}